version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: querella-mongo
    restart: always
    ports:
      - "28000:27017"  
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
